.divider22 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-gainsboro-100);
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
}
.icons16pxoptions,
.nav10 {
  position: absolute;
  overflow: hidden;
}
.nav10 {
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.icons16pxoptions {
  height: 0.18%;
  width: 14.69%;
  top: 99.77%;
  right: 0;
  bottom: 0.05%;
  left: 85.31%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.title17 {
  position: absolute;
  top: calc(50% - 816.75px);
  left: 33.03%;
  line-height: 24px;
  font-weight: 600;
}
.icons24pxshopping-bag {
  position: absolute;
  height: 0.28%;
  width: 21.99%;
  top: 99.72%;
  right: 78.01%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.order-type {
  position: absolute;
  height: 200.68%;
  width: 8.37%;
  top: -197.05%;
  right: 63.63%;
  bottom: 96.38%;
  left: 28%;
  display: none;
}
.base,
.rectangle {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.base {
  height: 99.83%;
  top: 0.17%;
  background-color: var(--default-white);
}
.rectangle {
  height: 100%;
  top: 0;
  background-color: #f6f7fa;
}
.fill-22-icon {
  height: 184.82%;
  width: 275.57%;
  top: -42.41%;
  right: -87.7%;
  bottom: -42.41%;
  left: -87.87%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.fill-22-icon,
.icon75,
.map {
  position: absolute;
  overflow: hidden;
}
.map {
  height: 100%;
  width: 43.57%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 56.43%;
  border-radius: var(--br-xl);
}
.icon75 {
  height: 7.92%;
  width: 3.43%;
  top: 46.04%;
  right: 20.07%;
  bottom: 46.04%;
  left: 76.5%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.rectangle1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 23px;
  background-color: var(--neutral-10);
}
.button45 {
  position: absolute;
  top: calc(50% - 10px);
  left: 11.25%;
  letter-spacing: 2px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
}
.button44,
.rectangle2 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.button44 {
  height: 16.79%;
  width: 34.78%;
  top: 83.21%;
  right: 65.22%;
  text-align: center;
  font-size: var(--body-xs-size);
  color: var(--default-white);
}
.rectangle2 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-lightsteelblue-100);
  box-sizing: border-box;
}
.placeholder {
  position: absolute;
  top: 12px;
  left: 15px;
  line-height: 22px;
}
.input,
.input1,
.input2,
.inputdefault {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.inputdefault {
  height: 100%;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.input,
.input1,
.input2 {
  height: 16.79%;
  top: 55.47%;
  bottom: 27.74%;
}
.input1,
.input2 {
  width: 47.83%;
  top: 27.74%;
  bottom: 55.47%;
  left: 52.17%;
}
.input2 {
  right: 52.17%;
  left: 0;
}
.dropdown {
  top: calc(50% - 11px);
  left: 15px;
  line-height: 22px;
}
.dropdown,
.form,
.input3 {
  position: absolute;
}
.input3 {
  height: 16.79%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 83.21%;
  left: 0;
  color: var(--color-lightslategray-100);
}
.form {
  height: 45.21%;
  width: 32.86%;
  top: 33.17%;
  right: 50.71%;
  bottom: 21.62%;
  left: 16.43%;
}
.always-know-the {
  margin: 0;
}
.the-harder-you-container {
  position: absolute;
  width: 29.29%;
  top: calc(50% - 236px);
  left: 16.43%;
  line-height: 22px;
  color: var(--color-lightslategray-100);
  display: inline-block;
}
.contact-us10 {
  position: absolute;
  top: calc(50% - 302px);
  left: 16.43%;
  font-size: 40px;
  line-height: 38px;
  font-weight: 500;
  color: var(--neutral-10);
}
.contacts,
.desktopcontact-us {
  position: absolute;
  overflow: hidden;
}
.contacts {
  top: 166px;
  left: 20px;
  width: 1400px;
  height: 606px;
  font-size: var(--other-menu-m-size);
  color: var(--color-lightslategray-200);
  font-family: var(--paragraph);
}
.desktopcontact-us {
  top: 60px;
  left: calc(50% - 720px);
  background-color: var(--default-white);
  width: 1440px;
  height: 814px;
  font-size: var(--body-s-size);
  color: var(--colors-text-dark-182135-100);
  font-family: var(--text-h5-semi-bold);
}
.footer-child15 {
  align-self: stretch;
  position: relative;
  background-color: var(--coolgray-30);
  height: 1px;
}
.rectangle-14-stroke9 {
  position: relative;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.icon-container9 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.figma-black-icon9 {
  position: relative;
  width: 22.3px;
  height: 32px;
  object-fit: cover;
  display: none;
}
.for-figma9,
.webbyframes9 {
  position: relative;
  line-height: 110%;
}
.for-figma9 {
  font-size: var(--body-xs-size);
  line-height: 140%;
  margin-top: -4px;
}
.text265 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.logo-container9,
.logo9 {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo9 {
  flex-direction: row;
  gap: var(--gap-9xs);
}
.logo-container9 {
  flex-direction: column;
}
.icon-jam-icons-outline-l571 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.text266 {
  position: relative;
  line-height: 140%;
}
.icon-jam-icons-outline-l572 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  display: none;
}
.field19 {
  background-color: var(--coolgray-10);
  border-bottom: 1px solid var(--coolgray-30);
  box-sizing: border-box;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.separator-left11 {
  border-right: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 12px;
  display: none;
}
.button-text37 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 100%;
  font-weight: 500;
}
.text-container32 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-base);
}
.separator-right11 {
  border-left: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 12px;
  display: none;
}
.button46,
.form-1-field-button9 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button46 {
  background-color: var(--primary-60);
  border: 2px solid var(--primary-60);
  box-sizing: border-box;
  height: 48px;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xs);
  color: var(--default-white);
}
.form-1-field-button9 {
  justify-content: flex-start;
  gap: var(--gap-base);
}
.top35 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: var(--other-menu-m-size);
  color: var(--coolgray-60);
}
.top34 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  color: var(--coolgray-30);
}
.badge218,
.menu-item414,
.top34 {
  flex-direction: row;
  align-items: center;
}
.badge218 {
  border-radius: var(--br-xs);
  background-color: var(--coolgray-60);
  display: none;
  justify-content: center;
  padding: var(--padding-12xs-5) var(--padding-7xs-5);
  text-align: center;
  font-size: var(--body-xs-size);
}
.menu-item414 {
  height: 27px;
  display: flex;
  justify-content: flex-start;
  padding: var(--padding-xs) 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
  font-size: var(--text-single-200-bold-size);
}
.menu-item417 {
  position: relative;
  line-height: 100%;
  font-weight: 500;
}
.badge219,
.menu-item416,
.menu45 {
  flex-direction: row;
  align-items: center;
}
.badge219 {
  border-radius: var(--br-xs);
  background-color: var(--coolgray-60);
  flex-shrink: 0;
  display: none;
  justify-content: center;
  padding: var(--padding-12xs-5) var(--padding-7xs-5);
  text-align: center;
  font-size: var(--body-xs-size);
}
.menu-item416,
.menu45 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.menu45 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
}
.menu-item425 {
  position: relative;
  line-height: 110%;
  font-weight: 500;
}
.menu-item424,
.menu-item426 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
}
.menu-item424 {
  height: 32px;
  display: flex;
  justify-content: flex-start;
  padding: var(--padding-xs) 0;
  box-sizing: border-box;
}
.menu-item426 {
  height: 15px;
}
.menu-item426,
.menu-item434,
.menu-item444,
.menu46 {
  display: flex;
  justify-content: flex-start;
}
.menu46 {
  width: 184px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
}
.menu-item434,
.menu-item444 {
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) 0;
  gap: var(--gap-5xs);
}
.menu-item434 {
  font-size: var(--text-single-200-bold-size);
}
.menu-item444 {
  flex-shrink: 0;
}
.button-icon9,
.vector-icon84 {
  overflow: hidden;
  object-fit: cover;
}
.button-icon9 {
  position: relative;
  width: 119.7px;
  height: 40px;
  flex-shrink: 0;
}
.vector-icon84 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.get-it-on9 {
  position: absolute;
  top: 11.5%;
  left: 30.37%;
  -webkit-text-stroke: 0.2px #fff;
}
.vector-icon86,
.vector-icon87,
.vector-icon88,
.vector-icon89,
.vector-icon90 {
  position: absolute;
  height: 42.5%;
  width: 62.89%;
  top: 42.5%;
  right: 6.81%;
  bottom: 15%;
  left: 30.3%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vector-icon87,
.vector-icon88,
.vector-icon89,
.vector-icon90 {
  height: 33.5%;
  width: 12%;
  top: 48.5%;
  right: 80.52%;
  bottom: 18%;
  left: 7.48%;
}
.vector-icon88,
.vector-icon89,
.vector-icon90 {
  height: 27.5%;
  width: 9.26%;
  top: 36.25%;
  right: 75.56%;
  bottom: 36.25%;
  left: 15.19%;
}
.vector-icon89,
.vector-icon90 {
  height: 53.75%;
  width: 8.22%;
  top: 23.25%;
  right: 84.37%;
  bottom: 23%;
  left: 7.41%;
}
.vector-icon90 {
  height: 32.25%;
  width: 12.07%;
  top: 17.75%;
  right: 80.52%;
  bottom: 50%;
}
.button47 {
  position: relative;
  width: 135px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.buttons-group12 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-4xs-4);
  font-family: var(--text-h5-semi-bold);
}
.top36 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
}
.bottom18,
.menu48,
.social-icons9,
.top36 {
  display: flex;
  justify-content: flex-start;
}
.social-icons9 {
  width: 426.7px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
}
.bottom18,
.menu48 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.menu48 {
  flex: 1;
  gap: var(--gap-5xl);
  font-size: var(--text-single-200-bold-size);
}
.columns9,
.menu-item448,
.menu-item454 {
  flex-direction: row;
  justify-content: flex-start;
}
.columns9 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-29xl);
  font-size: var(--other-menu-m-size);
}
.menu-item448,
.menu-item454 {
  flex-shrink: 0;
  align-items: center;
  padding: var(--padding-xs) var(--padding-5xs);
  gap: var(--gap-5xs);
}
.menu-item448 {
  display: flex;
}
.menu-item454 {
  display: none;
}
.bottom19,
.menu49 {
  display: flex;
  flex-direction: row;
}
.menu49 {
  flex: 1;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
  font-size: var(--other-menu-m-size);
}
.bottom19 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  font-size: var(--body-s-size);
}
.divider23,
.footer-container,
.footer9 {
  position: absolute;
  width: 1440px;
  height: 578px;
}
.footer9 {
  bottom: 0;
  left: calc(50% - 720px);
  background-color: var(--coolgray-60);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-29xl) var(--padding-61xl);
  box-sizing: border-box;
  gap: var(--gap-29xl);
}
.divider23,
.footer-container {
  top: 1065px;
  left: 0;
}
.divider23 {
  top: 6px;
  left: 44px;
  border-radius: var(--br-11xs);
  background-color: var(--color-gainsboro-100);
  width: 2px;
  height: 40px;
  overflow: hidden;
}
.blog10,
.contact-us11,
.court10,
.discover10,
.home10 {
  position: absolute;
  top: 20px;
  left: 77px;
  line-height: 16px;
}
.blog10,
.contact-us11,
.court10,
.discover10 {
  left: 159px;
}
.blog10,
.contact-us11,
.court10 {
  left: 262px;
}
.contact-us11,
.court10 {
  left: 332px;
}
.contact-us11 {
  left: 413px;
}
.left-content10 {
  position: absolute;
  top: calc(50% - 26px);
  left: 160px;
  width: 614px;
  height: 52px;
  flex-shrink: 0;
}
.frame-wrapper30 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.frame-wrapper29 {
  position: relative;
  width: 44px;
  height: 44px;
}
.frame-wrapper28 {
  position: absolute;
  top: 0;
  left: 70px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.icon-jam-icons-outline-l681 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 0;
}
.text-container34 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.icon-jam-icons-outline-l682 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  display: none;
  z-index: 2;
}
.badge264 {
  margin: 0 !important;
  position: absolute;
  top: 7px;
  left: 23px;
  border-radius: var(--br-xs);
  background-color: var(--color-black);
  border: 1px solid var(--color-slategray-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs-5) var(--padding-7xs-5);
  z-index: 3;
  text-align: center;
  font-size: var(--body-xs-size);
  color: var(--default-white);
}
.button50,
.frame-parent28 {
  position: absolute;
  height: 44px;
}
.button50 {
  top: 0;
  left: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.frame-parent28 {
  top: 22px;
  left: 1309px;
  width: 114px;
  flex-shrink: 0;
  text-align: left;
  color: var(--primary-60);
  font-family: var(--body-xs);
}
.raahat12 {
  position: absolute;
  top: 41px;
  left: 84px;
  line-height: 16px;
  display: inline-block;
  color: var(--color-lightslategray-300);
  width: 108px;
  height: 19px;
}
.img-20231212-wa0030-removebg-p-icon10,
.vector-icon98 {
  position: absolute;
  top: 25px;
  left: 53px;
  width: 47.2px;
  height: 52.9px;
  object-fit: cover;
}
.vector-icon98 {
  height: 26.09%;
  width: 1.67%;
  top: 32.61%;
  right: 9.93%;
  bottom: 41.3%;
  left: 88.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.divider24,
.nav-content10,
.nav11 {
  position: absolute;
  left: 0;
  width: 1440px;
}
.nav-content10 {
  top: 0;
  height: 92px;
  flex-shrink: 0;
}
.divider24,
.nav11 {
  top: 92px;
  background-color: var(--color-gainsboro-100);
  height: 1px;
  overflow: hidden;
}
.nav11 {
  top: 0;
  background-color: var(--color-gray-100);
  height: 93px;
  text-align: center;
  font-size: var(--other-menu-m-size);
  color: var(--neutral-10);
  font-family: var(--text-single-200-bold);
}
.court-founder {
  position: relative;
  background-color: var(--default-white);
  width: 100%;
  height: 1606px;
  overflow: hidden;
  text-align: left;
  font-size: var(--heading-4-size);
  color: var(--default-white);
  font-family: var(--body-xs);
}
