.divider27 {
  position: absolute;
  top: 6px;
  left: 44px;
  border-radius: var(--br-11xs);
  background-color: var(--color-gainsboro-100);
  width: 2px;
  height: 40px;
  overflow: hidden;
}
.home12 {
  position: absolute;
  top: 20px;
  left: 77px;
  line-height: 16px;
  cursor: pointer;
}
.blog12,
.contact-us13,
.court12,
.discover12 {
  position: absolute;
  top: 20px;
  left: 159px;
  line-height: 16px;
}
.blog12,
.contact-us13,
.court12 {
  left: 262px;
  cursor: pointer;
}
.contact-us13,
.court12 {
  left: 332px;
}
.contact-us13 {
  left: 413px;
}
.left-content12 {
  position: absolute;
  top: calc(50% - 26px);
  left: 160px;
  width: 614px;
  height: 52px;
}
.iconsuserline13 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper36,
.iconsuserline-wrapper10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-wrapper36 {
  position: absolute;
  top: 0;
  left: 0;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.frame-wrapper35 {
  width: 44px;
  position: relative;
  height: 44px;
}
.frame-wrapper34 {
  position: absolute;
  top: 0;
  left: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.icon-jam-icons-outline-l685 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.button-text41 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 100%;
  font-weight: 500;
}
.text-container36 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.icon-jam-icons-outline-l686 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  z-index: 2;
}
.text317 {
  position: relative;
  line-height: 140%;
}
.badge266 {
  margin: 0 !important;
  position: absolute;
  top: 7px;
  left: 23px;
  border-radius: var(--br-xs);
  background-color: var(--color-black);
  border: 1px solid var(--color-slategray-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs-5) var(--padding-7xs-5);
  z-index: 3;
  text-align: center;
  font-size: var(--body-xs-size);
  color: var(--neutral-colors-white);
}
.button52,
.frame-parent30 {
  position: absolute;
  height: 44px;
}
.button52 {
  top: 0;
  left: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.frame-parent30 {
  top: 22px;
  left: 1309px;
  width: 114px;
  text-align: left;
  color: var(--primary-60);
  font-family: var(--button-l);
}
.raahat14 {
  position: absolute;
  top: 41px;
  left: 84px;
  line-height: 16px;
  display: inline-block;
  color: var(--color-lightslategray-300);
  width: 108px;
  height: 19px;
}
.img-20231212-wa0030-removebg-p-icon12 {
  position: absolute;
  top: 25px;
  left: 53px;
  width: 47.2px;
  height: 52.9px;
  object-fit: cover;
}
.vector-icon100 {
  position: absolute;
  height: 26.09%;
  width: 1.67%;
  top: 32.61%;
  right: 9.93%;
  bottom: 41.3%;
  left: 88.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.nav-content12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 92px;
}
.divider28,
.nav13 {
  position: absolute;
  width: 1440px;
  overflow: hidden;
}
.divider28 {
  top: 92px;
  left: 0;
  background-color: var(--color-gainsboro-100);
  height: 1px;
}
.nav13 {
  top: 0;
  left: calc(50% - 720px);
  background-color: var(--color-gray-100);
  height: 93px;
  text-align: center;
  font-size: var(--body-small-size);
}
.caption7,
.main-headline7 {
  width: 1280px;
  position: relative;
  display: none;
}
.caption7 {
  letter-spacing: 1px;
  line-height: 100%;
  text-transform: uppercase;
}
.main-headline7 {
  font-size: var(--heading-1-size);
  line-height: 110%;
  color: var(--coolgray-90);
}
.secondary-headline8,
.top40 {
  position: absolute;
  text-align: center;
  width: 1280px;
}
.top40 {
  height: 1.63%;
  top: 7.83%;
  bottom: 90.54%;
  left: calc(50% - 640px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--button-l-size);
  color: var(--primary-90);
  font-family: var(--button-l);
}
.secondary-headline8 {
  top: 151px;
  left: 80px;
  font-size: var(--heading-2-size);
  line-height: 110%;
  display: inline-block;
  font-family: var(--font-droid-sans);
  color: var(--color-lightslategray-200);
}
.helping-you-to {
  margin: 0;
}
.helping-you-to-container {
  position: absolute;
  top: 254px;
  left: calc(50% - 599px);
  font-size: var(--button-l-size);
  letter-spacing: 0.5px;
  line-height: 32px;
  color: var(--neutral-7);
  text-align: center;
  display: inline-block;
  width: 1199px;
}
.district,
.enter-your-case,
.select-domain {
  position: absolute;
  letter-spacing: 0.15px;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
}
.enter-your-case {
  top: 424px;
  left: 187px;
  font-size: var(--font-size-21xl);
  width: 501px;
}
.district,
.select-domain {
  top: 555px;
  left: 192px;
  width: 263px;
}
.select-domain {
  top: 719px;
  left: 191px;
}
.address,
.case-detailscharges,
.date-of-occurence,
.dob,
.email-id,
.gender,
.mobile-no,
.name,
.place-of-occurence {
  position: absolute;
  top: 883px;
  left: 191px;
  letter-spacing: 0.15px;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  width: 304px;
}
.address,
.case-detailscharges,
.dob,
.email-id,
.gender,
.mobile-no,
.name,
.place-of-occurence {
  top: 1594px;
}
.address,
.case-detailscharges,
.dob,
.email-id,
.gender,
.mobile-no,
.place-of-occurence {
  top: 2141px;
}
.address,
.case-detailscharges,
.dob,
.email-id,
.gender,
.place-of-occurence {
  top: 2305px;
}
.address,
.case-detailscharges,
.dob,
.gender,
.place-of-occurence {
  top: 1758px;
  left: 192px;
}
.address,
.case-detailscharges,
.dob,
.place-of-occurence {
  left: 772px;
}
.address,
.case-detailscharges,
.place-of-occurence {
  top: 1047px;
  left: 192px;
}
.address,
.case-detailscharges {
  top: 1911px;
  left: 191px;
}
.case-detailscharges {
  top: 1277px;
  width: 339px;
}
.simple-input10,
.simple-input11,
.simple-input12,
.simple-input13,
.simple-input14,
.simple-input15,
.simple-input16,
.simple-input17,
.simple-input18,
.simple-input19,
.simple-input9 {
  border: 2px solid var(--color-gainsboro-100);
  outline: 0;
  background-color: transparent;
  position: absolute;
  top: 612px;
  left: calc(50% - 532px);
  border-radius: var(--br-xs);
  box-sizing: border-box;
  width: 1065px;
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.simple-input10,
.simple-input11,
.simple-input12,
.simple-input13,
.simple-input14,
.simple-input15,
.simple-input16,
.simple-input17,
.simple-input18,
.simple-input19 {
  top: 776px;
  left: calc(50% - 533px);
}
.simple-input11,
.simple-input12,
.simple-input13,
.simple-input14,
.simple-input15,
.simple-input16,
.simple-input17,
.simple-input18,
.simple-input19 {
  top: 940px;
}
.simple-input12,
.simple-input13,
.simple-input14,
.simple-input15,
.simple-input16,
.simple-input17,
.simple-input18,
.simple-input19 {
  top: 1651px;
}
.simple-input13,
.simple-input14,
.simple-input15,
.simple-input16,
.simple-input17,
.simple-input18,
.simple-input19 {
  top: 2198px;
}
.simple-input14,
.simple-input15,
.simple-input16,
.simple-input17,
.simple-input18,
.simple-input19 {
  top: 2362px;
}
.simple-input15,
.simple-input16,
.simple-input17,
.simple-input18,
.simple-input19 {
  top: 1804px;
  left: calc(50% - 528px);
  width: 480px;
}
.simple-input16,
.simple-input17,
.simple-input18,
.simple-input19 {
  left: calc(50% + 52px);
}
.simple-input17,
.simple-input18,
.simple-input19 {
  top: 1104px;
  left: calc(50% - 532px);
  width: 1065px;
  height: 138px;
}
.simple-input18,
.simple-input19 {
  top: 1968px;
  left: calc(50% - 533px);
}
.simple-input19 {
  top: 1334px;
  height: 225px;
}
.do-something6 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
}
.send-your-case,
.stylefilled6 {
  position: absolute;
  font-size: var(--body-small-size);
}
.stylefilled6 {
  top: 2539px;
  left: calc(50% - 57px);
  border-radius: var(--br-31xl);
  background-color: var(--neutral-10);
  border: 1px solid var(--neutral-10);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-xl);
  color: var(--neutral-colors-white);
}
.send-your-case {
  top: 2614px;
  left: calc(50% - 161px);
  letter-spacing: 0.5px;
  line-height: 24px;
  font-family: var(--font-droid-sans);
}
.footer-child19 {
  align-self: stretch;
  position: relative;
  background-color: var(--coolgray-30);
  height: 1px;
}
.rectangle-14-stroke11 {
  width: 24px;
  position: relative;
  height: 24px;
}
.figma-black-icon11 {
  width: 22.3px;
  position: relative;
  height: 32px;
  display: none;
}
.for-figma11,
.webbyframes11 {
  position: relative;
  line-height: 110%;
}
.for-figma11 {
  font-size: var(--body-xs-size);
  line-height: 140%;
  margin-top: -4px;
}
.text318 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.logo-container11,
.logo11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo11 {
  flex-direction: row;
  gap: var(--gap-9xs);
}
.logo-container11 {
  flex-direction: column;
}
.icon-jam-icons-outline-l688 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.field21,
.separator-left13 {
  box-sizing: border-box;
  height: 48px;
}
.field21 {
  background-color: var(--coolgray-10);
  border-bottom: 1px solid var(--coolgray-30);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.separator-left13 {
  width: 12px;
  border-right: 1px solid var(--color-gray-500);
  display: none;
}
.text-container37 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-base);
}
.separator-right13 {
  width: 12px;
  border-left: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  height: 48px;
  display: none;
}
.button53,
.form-1-field-button11 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button53 {
  background-color: var(--primary-60);
  border: 2px solid var(--primary-60);
  box-sizing: border-box;
  height: 48px;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xs);
  color: var(--neutral-colors-white);
}
.form-1-field-button11 {
  justify-content: flex-start;
  gap: var(--gap-base);
}
.top42 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: var(--body-small-size);
  color: var(--coolgray-60);
}
.top41 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  color: var(--coolgray-30);
}
.badge267,
.menu-item506,
.top41 {
  flex-direction: row;
  align-items: center;
}
.badge267 {
  border-radius: var(--br-xs);
  background-color: var(--coolgray-60);
  display: none;
  justify-content: center;
  padding: var(--padding-12xs-5) var(--padding-7xs-5);
  text-align: center;
  font-size: var(--body-xs-size);
}
.menu-item506 {
  height: 27px;
  display: flex;
  justify-content: flex-start;
  padding: var(--padding-xs) 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
  font-size: var(--text-single-200-bold-size);
}
.menu-item509 {
  position: relative;
  line-height: 100%;
  font-weight: 500;
}
.menu-item508,
.menu55 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.menu55 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
}
.menu-item517 {
  position: relative;
  line-height: 110%;
  font-weight: 500;
}
.menu-item516 {
  height: 32px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.menu-item516,
.menu-item518,
.menu56 {
  display: flex;
  justify-content: flex-start;
}
.menu-item518 {
  height: 15px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
}
.menu56 {
  width: 184px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
}
.menu-item526 {
  font-size: var(--text-single-200-bold-size);
}
.menu-item526,
.menu-item536 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) 0;
  gap: var(--gap-5xs);
}
.button-icon11 {
  width: 119.7px;
  position: relative;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.vector-icon101 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.get-it-on11 {
  position: absolute;
  top: 11.5%;
  left: 30.37%;
  -webkit-text-stroke: 0.2px #fff;
}
.vector-icon103,
.vector-icon104,
.vector-icon105,
.vector-icon106,
.vector-icon107 {
  position: absolute;
  height: 42.5%;
  width: 62.89%;
  top: 42.5%;
  right: 6.81%;
  bottom: 15%;
  left: 30.3%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon104,
.vector-icon105,
.vector-icon106,
.vector-icon107 {
  height: 33.5%;
  width: 12%;
  top: 48.5%;
  right: 80.52%;
  bottom: 18%;
  left: 7.48%;
}
.vector-icon105,
.vector-icon106,
.vector-icon107 {
  height: 27.5%;
  width: 9.26%;
  top: 36.25%;
  right: 75.56%;
  bottom: 36.25%;
  left: 15.19%;
}
.vector-icon106,
.vector-icon107 {
  height: 53.75%;
  width: 8.22%;
  top: 23.25%;
  right: 84.37%;
  bottom: 23%;
  left: 7.41%;
}
.vector-icon107 {
  height: 32.25%;
  width: 12.07%;
  top: 17.75%;
  right: 80.52%;
  bottom: 50%;
}
.button54 {
  width: 135px;
  position: relative;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.buttons-group14,
.social-icons11,
.top43 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttons-group14 {
  flex-direction: row;
  gap: var(--gap-5xs);
  font-size: var(--font-size-4xs-4);
  font-family: var(--text-h5-semi-bold);
}
.social-icons11,
.top43 {
  flex-direction: column;
  gap: var(--gap-base);
}
.social-icons11 {
  width: 426.7px;
  flex-direction: row;
  align-items: center;
}
.bottom22,
.menu58 {
  flex-direction: column;
  align-items: flex-start;
}
.bottom22 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.menu58 {
  flex: 1;
  gap: var(--gap-5xl);
  font-size: var(--text-single-200-bold-size);
}
.columns11,
.menu-item540,
.menu58 {
  display: flex;
  justify-content: flex-start;
}
.columns11 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-29xl);
  font-size: var(--body-small-size);
}
.menu-item540 {
  padding: var(--padding-xs) var(--padding-5xs);
  gap: var(--gap-5xs);
}
.menu-item540,
.menu-item546,
.menu59 {
  flex-direction: row;
  align-items: center;
}
.menu-item546 {
  display: none;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-5xs);
  gap: var(--gap-5xs);
}
.menu59 {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: var(--gap-base);
  font-size: var(--body-small-size);
}
.bottom23,
.footer11 {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-29xl);
}
.bottom23 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  font-size: var(--button-2-size);
}
.footer11 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 720px);
  background-color: var(--coolgray-60);
  width: 1440px;
  height: 578px;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-29xl) var(--padding-61xl);
  box-sizing: border-box;
  font-size: var(--heading-4-size);
  color: var(--neutral-colors-white);
  font-family: var(--button-l);
}
.ticket-paid {
  width: 100%;
  position: relative;
  background-color: var(--neutral-colors-white);
  height: 3256px;
  overflow: hidden;
  text-align: left;
  font-size: var(--headline-4-size);
  color: var(--neutral-10);
  font-family: var(--text-single-200-bold);
}
